server {
    server_name php-docker.local;

    error_log  /var/log/nginx/error.log;
    access_log /var/log/nginx/access.log;

    index index.html;
    root /usr/local/web-app/var/htdocs;


    location / {
            try_files $uri $uri/ @webapp;
    }


    location @webapp {
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass php:9000;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME /usr/local/web-app/web-app.php;
        fastcgi_param PATH_INFO $fastcgi_path_info;
    }
}